body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #343a40;
}

nav ul li a:hover {
    background-color: #343a40;
    color: #f8f9fa;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

section h1 {
    color: #343a40;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
